In [4]:
import pandas as pd

In [6]:
df1 = pd.read_csv('/Users/ruba/Desktop/Tableau/2013-07-CitiBiketripdata.csv')
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [7]:
df2 = pd.read_csv('/Users/ruba/Desktop/Tableau/2013-08-CitiBiketripdata.csv')
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,664,2013-08-01 00:00:00,2013-08-01 00:11:04,449,W 52 St & 9 Ave,40.764618,-73.987895,479,9 Ave & W 45 St,40.760193,-73.991255,20068,Subscriber,1944,1
1,2115,2013-08-01 00:00:01,2013-08-01 00:35:16,254,W 11 St & 6 Ave,40.735324,-73.998004,195,Liberty St & Broadway,40.709056,-74.010434,17095,Subscriber,1974,1
2,385,2013-08-01 00:00:03,2013-08-01 00:06:28,460,S 4 St & Wythe Ave,40.712859,-73.965903,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,18197,Customer,\N,0
3,653,2013-08-01 00:00:10,2013-08-01 00:11:03,398,Atlantic Ave & Furman St,40.691652,-73.999979,398,Atlantic Ave & Furman St,40.691652,-73.999979,17080,Customer,\N,0
4,954,2013-08-01 00:00:11,2013-08-01 00:16:05,319,Park Pl & Church St,40.713361,-74.009376,336,Sullivan St & Washington Sq,40.730477,-73.999061,17967,Customer,\N,0

In [8]:
df3 = pd.read_csv('/Users/ruba/Desktop/Tableau/2013-09 -CitiBiketripdata.csv')
df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1010,2013-09-01 00:00:02,2013-09-01 00:16:52,254,W 11 St & 6 Ave,40.735324,-73.998004,147,Greenwich St & Warren St,40.715422,-74.011220,15014,Subscriber,1974,1
1,1443,2013-09-01 00:00:09,2013-09-01 00:24:12,151,Cleveland Pl & Spring St,40.721816,-73.997203,497,E 17 St & Broadway,40.737050,-73.990093,19393,Customer,\N,0
2,1387,2013-09-01 00:00:16,2013-09-01 00:23:23,352,W 56 St & 6 Ave,40.763406,-73.977225,405,Washington St & Gansevoort St,40.739323,-74.008119,16160,Subscriber,1992,1
3,405,2013-09-01 00:00:18,2013-09-01 00:07:03,490,8 Ave & W 33 St,40.751551,-73.993934,459,W 20 St & 11 Ave,40.746745,-74.007756,14997,Subscriber,1973,1
4,270,2013-09-01 00:00:20,2013-09-01 00:04:50,236,St Marks Pl & 2 Ave,40.728419,-73.987140,393,E 5 St & Avenue C,40.722992,-73.979955,19609,Subscriber,1984,1

In [9]:
df4 = pd.read_csv('/Users/ruba/Desktop/Tableau/2013-10-CitiBiketripdata.csv')
df4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,326,2013-10-01 00:01:08,2013-10-01 00:06:34,239,Willoughby St & Fleet St,40.691966,-73.981302,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16052,Subscriber,1982,1
1,729,2013-10-01 00:01:21,2013-10-01 00:13:30,322,Clinton St & Tillary St,40.696192,-73.991218,398,Atlantic Ave & Furman St,40.691652,-73.999979,19412,Customer,\N,0
2,520,2013-10-01 00:01:24,2013-10-01 00:10:04,174,E 25 St & 1 Ave,40.738177,-73.977387,403,E 2 St & 2 Ave,40.725029,-73.990697,19645,Subscriber,1984,1
3,281,2013-10-01 00:01:25,2013-10-01 00:06:06,430,York St & Jay St,40.701485,-73.986569,323,Lawrence St & Willoughby St,40.692362,-73.986317,16992,Subscriber,1985,1
4,196,2013-10-01 00:01:27,2013-10-01 00:04:43,403,E 2 St & 2 Ave,40.725029,-73.990697,401,Allen St & Rivington St,40.720196,-73.989978,15690,Subscriber,1986,1

In [10]:
df5 = pd.read_csv('/Users/ruba/Desktop/Tableau/2013-11-CitiBiketripdata.csv')
df5.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,504,2013-11-01 00:00:17,2013-11-01 00:08:41,326,E 11 St & 1 Ave,40.729538,-73.984267,349,Rivington St & Ridge St,40.718502,-73.983299,16393,Subscriber,1983,2
1,747,2013-11-01 00:00:20,2013-11-01 00:12:47,375,Mercer St & Bleecker St,40.726795,-73.996951,504,1 Ave & E 15 St,40.732219,-73.981656,18244,Subscriber,1971,1
2,1005,2013-11-01 00:00:30,2013-11-01 00:17:15,264,Maiden Ln & Pearl St,40.707065,-74.007319,265,Stanton St & Chrystie St,40.722293,-73.991475,14636,Customer,\N,0
3,622,2013-11-01 00:01:29,2013-11-01 00:11:51,472,E 32 St & Park Ave,40.745712,-73.981948,174,E 25 St & 1 Ave,40.738177,-73.977387,16685,Subscriber,1980,1
4,1454,2013-11-01 00:01:37,2013-11-01 00:25:51,293,Lafayette St & E 8 St,40.730287,-73.990765,490,8 Ave & W 33 St,40.751551,-73.993934,18055,Subscriber,1975,2

In [11]:
df6 = pd.read_csv('/Users/ruba/Desktop/Tableau/2013-12-CitiBiketripdata.csv')
df6.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1015,2013-12-01 00:00:03,2013-12-01 00:16:58,401,Allen St & Rivington St,40.720196,-73.989978,476,E 31 St & 3 Ave,40.743943,-73.979661,14729,Subscriber,1979,2
1,962,2013-12-01 00:00:07,2013-12-01 00:16:09,312,Allen St & E Houston St,40.722055,-73.989111,223,W 13 St & 7 Ave,40.737815,-73.999947,17871,Subscriber,1970,2
2,768,2013-12-01 00:00:15,2013-12-01 00:13:03,326,E 11 St & 1 Ave,40.729538,-73.984267,291,Madison St & Montgomery St,40.713126,-73.984844,18508,Subscriber,1982,2
3,218,2013-12-01 00:00:49,2013-12-01 00:04:27,2021,W 45 St & 8 Ave,40.759291,-73.988597,447,8 Ave & W 52 St,40.763707,-73.985162,17745,Subscriber,1976,1
4,550,2013-12-01 00:01:28,2013-12-01 00:10:38,439,E 4 St & 2 Ave,40.726281,-73.989780,296,Division St & Bowery,40.714131,-73.997047,16947,Subscriber,1983,1

In [12]:
df7 = pd.read_csv('/Users/ruba/Desktop/Tableau/2013-06-citibike-tripdata.csv')
df7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1

In [13]:
citibike_2013 = pd.concat([df1, df2, df3, df4, df5, df6, df7])
citibike_2013

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504.0,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459.0,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237.0,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499.0,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410.0,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1
5,861,2013-07-01 00:01:23,2013-07-01 00:15:44,511,E 14 St & Avenue B,40.729387,-73.977724,454.0,E 51 St & 1 Ave,40.754557,-73.965930,16223,Subscriber,1988,1
6,550,2013-07-01 00:01:59,2013-07-01 00:11:09,293,Lafayette St & E 8 St,40.730287,-73.990765,394.0,E 9 St & Avenue C,40.725213,-73.977688,16746,Customer,\N,0
7,288,2013-07-01 00:02:16,2013-07-01 00:07:04,224,Spruce St & Nassau St,40.711464,-74.005524,376.0,John St & William St,40.708621,-74.007222,16062,Subscriber,1985,2
8,766,2013-07-01 00:02:16,2013-07-01 00:15:02,432,E 7 St & Avenue A,40.726218,-73.983799,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,17963,Subscriber,1980,2
9,773,2013-07-01 00:02:23,2013-07-01 00:15:16,173,Broadway & W 49 St,40.760647,-73.984427,479.0,9 Ave & W 45 St,40.760193,-73.991255,19365,Subscriber,1989,1
10,456,2013-07-01 00:02:23,2013-07-01 00:09:59,146,Hudson St & Reade St,40.716250,-74.009106,351.0,Front St & Maiden Ln,40.705310,-74.006126,16321,Subscriber,1976,1
11,632,2013-07-01 00:02:24,2013-07-01 00:12:56,251,Mott St & Prince St,40.723180,-73.994800,307.0,Canal St & Rutgers St,40.714275,-73.989900,18935,Subscriber,1967,1
12,623,2013-07-01 00:02:24,2013-07-01 00:12:47,479,9 Ave & W 45 St,40.760193,-73.991255,493.0,W 45 St & 6 Ave,40.756800,-73.982912,16036,Customer,\N,0
13,228,2013-07-01 00:02:33,2013-07-01 00:06:21,504,1 Ave & E 15 St,40.732219,-73.981656,487.0,E 20 St & FDR Drive,40.733143,-73.975739,16593,Subscriber,1987,1
14,643,2013-07-01 00:02:44,2013-07-01 00:13:27,479,9 Ave & W 45 St,40.760193,-73.991255,493.0,W 45 St & 6 Ave,40.756800,-73.982912,19677,Customer,\N,0
15,1312,2013-07-01 00:03:10,2013-07-01 00:25:02,474,5 Ave & E 29 St,40.745168,-73.986831,128.0,MacDougal St & Prince St,40.727103,-74.002971,15480,Customer,\N,0
16,424,2013-07-01 00:03:14,2013-07-01 00:10:18,477,W 41 St & 8 Ave,40.756405,-73.990026,485.0,W 37 St & 5 Ave,40.750380,-73.983390,15013,Subscriber,1972,1
17,1129,2013-07-01 00:03:30,2013-07-01 00:22:19,470,W 20 St & 8 Ave,40.743453,-74.000040,450.0,W 49 St & 8 Ave,40.762272,-73.987882,16017,Subscriber,1969,1
18,311,2013-07-01 00:03:58,2013-07-01 00:09:09,494,W 26 St & 8 Ave,40.747348,-73.997236,458.0,11 Ave & W 27 St,40.751396,-74.005226,20595,Customer,\N,0
19,1275,2013-07-01 00:04:10,2013-07-01 00:25:25,345,W 13 St & 6 Ave,40.736494,-73.997044,455.0,1 Ave & E 44 St,40.750020,-73.969053,16236,Subscriber,1983,1
20,318,2013-07-01 00:05:09,2013-07-01 00:10:27,406,Hicks St & Montague St,40.695128,-73.995951,237.0,E 11 St & 2 Ave,40.730473,-73.986724,19170,Subscriber,1983,2
21,1603,2013-07-01 00:05:26,2013-07-01 00:32:09,521,8 Ave & W 31 St,40.750450,-73.994811,406.0,Hicks St & Montague St,40.695128,-73.995951,17793,Customer,\N,0
22,440,2013-07-01 00:05:31,2013-07-01 00:12:51,422,W 59 St & 10 Ave,40.770513,-73.988038,516.0,E 47 St & 1 Ave,40.752069,-73.967844,18330,Subscriber,1990,1
23,801,2013-07-01 00:05:35,2013-07-01 00:18:56,173,Broadway & W 49 St,40.760647,-73.984427,490.0,8 Ave & W 33 St,40.751551,-73.993934,17230,Subscriber,1899,2
24,452,2013-07-01 00:05:37,2013-07-01 00:13:09,519,Pershing Square N,40.751884,-73.977702,516.0,E 47 St & 1 Ave,40.752069,-73.967844,16408,Subscriber,1987,2
25,305,2013-07-01 00:05:41,2013-07-01 00:10:46,151,Cleveland Pl & Spring St,40.721816,-73.997203,293.0,Lafayette St & E 8 St,40.730287,-73.990765,19080,Subscriber,1985,1
26,682,2013-07-01 00:05:47,2013-07-01 00:17:09,494,W 26 St & 8 Ave,40.747348,-73.997236,127.0,Barrow St & Hudson St,40.731724,-74.006744,19411,Subscriber,1987,1
27,1444,2013-07-01 00:05:49,2013-07-01 00:29:53,312,Allen St & E Houston St,40.722055,-73.989111,312.0,Allen St & E Houston St,40.722055,-73.989111,14842,Customer,\N,0
28,537,2013-07-01 00:05:51,2013-07-01 00:14:48,487,E 20 St & FDR Drive,40.733143,-73.975739,439.0,E 4 St & 2 Ave,40.726281,-73.989780,20330,Subscriber,1986,1
29,1456,2013-07-01 00:06:27,2013-07-01 00:30:43,352,W 56 St & 6 Ave,40.763406,-73.977225,490.0,8 Ave & W 33 St,40.751551,-73.993934,15721,Subscriber,1985,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577673,787,2013-06-30 23:54:29,2013-07-01 00:07:36,495,W 47 St & 10 Ave,40.762699,-73.993012,434.0,9 Ave & W 18 St,40.743174,-74.003664,14836,Customer,NaN,0
577674,547,2013-06-30 23:54:33,2013-07-01 00:03:40,237,E 11 St & 2 Ave,40.730473,-73.986724,285.0,Broadway & E 14 St,40.734546,-73.990741,18310,Subscriber,1983,1
577675,10327,2013-06-30 23:53:44,2013-07-01 02:45:51,428,E 3 St & 1 Ave,40.724677,-73.987834,403.0,E 2 St & 2 Ave,40.725029,-73.990697,19186,Customer,NaN,0
577676,1798,2013-06-30 23:55:03,2013-07-01 00:25:01,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,294.0,Washington Square E,40.730494,-73.995721,15887,Customer,NaN,0
577677,1758,2013-06-30 23:55:41,2013-07-01 00:24:59,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,294.0,Washington Square E,40.730494,-73.995721,16590,Customer,NaN,0
577678,631,2013-06-30 23:55:53,2013-07-01 00:06:24,439,E 4 St & 2 Ave,40.726281,-73.989780,537.0,Lexington Ave & E 24 St,40.740259,-73.984092,19494,Customer,NaN,0
577679,203,2013-06-30 23:52:44,2013-06-30 23:56:07,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,365.0,Fulton St & Grand Ave,40.682232,-73.961458,16981,Subscriber,1986,1
577680,279,2013-06-30 23:57:15,2013-07-01 00:01:54,402,Broadway & E 22 St,40.740343,-73.989551,402.0,Broadway & E 22 St,40.740343,-73.989551,19536,Subscriber,1955,1
577681,523,2013-06-30 23:57:32,2013-07-01 00:06:15,379,W 31 St & 7 Ave,40.749156,-73.991600,509.0,9 Ave & W 22 St,40.745497,-74.001971,18366,Subscriber,1978,2
577682,806,2013-06-30 23:57:38,2013-07-01 00:11:04,528,2 Ave & E 31 St,40.742909,-73.977061,297.0,E 15 St & 3 Ave,40.734232,-73.986923,20241,Subscriber,1982,1
577683,817,2013-06-30 23:54:34,2013-07-01 00:08:11,157,Henry St & Atlantic Ave,40.690893,-73.996123,2000.0,Front St & Washington St,40.702551,-73.989402,15364,Subscriber,1983,1
577684,730,2013-06-30 23:57:56,2013-07-01 00:10:06,540,Lexington Ave & E 29 St,40.743116,-73.982154,540.0,Lexington Ave & E 29 St,40.743116,-73.982154,15066,Customer,NaN,0
577685,318,2013-06-30 23:57:58,2013-07-01 00:03:16,127,Barrow St & Hudson St,40.731724,-74.006744,405.0,Washington St & Gansevoort St,40.739323,-74.008119,14972,Customer,NaN,0
577686,1090,2013-06-30 23:58:04,2013-07-01 00:16:14,477,W 41 St & 8 Ave,40.756405,-73.990026,536.0,1 Ave & E 30 St,40.741444,-73.975361,16516,Customer,NaN,0
577687,436,2013-06-30 23:58:09,2013-07-01 00:05:25,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,403.0,E 2 St & 2 Ave,40.725029,-73.990697,19454,Subscriber,1982,1
577688,784,2013-06-30 23:58:11,2013-07-01 00:11:15,348,W Broadway & Spring St,40.724910,-74.001547,335.0,Washington Pl & Broadway,40.729039,-73.994046,18556,Customer,NaN,0
577689,185,2013-06-30 23:57:52,2013-07-01 00:00:57,323,Lawrence St & Willoughby St,40.692362,-73.986317,293.0,Lafayette St & E 8 St,40.730207,-73.991026,16746,Subscriber,1982,1
577690,595,2013-06-30 23:58:39,2013-07-01 00:08:34,360,William St & Pine St,40.707179,-74.008873,329.0,Greenwich St & North Moore St,40.720152,-74.010365,19290,Subscriber,1985,1
577691,1539,2013-06-30 23:58:37,2013-07-01 00:24:16,363,West Thames St,40.708347,-74.017134,477.0,W 41 St & 8 Ave,40.756405,-73.990026,18465,Customer,NaN,0
577692,1777,2013-06-30 23:58:41,2013-07-01 00:28:18,470,W 20 St & 8 Ave,40.743453,-74.000040,268.0,Howard St & Centre St,40.719105,-73.999733,15741,Customer,NaN,0
577693,1059,2013-06-30 23:58:41,2013-07-01 00:16:20,477,W 41 St & 8 Ave,40.756405,-73.990026,477.0,W 41 St & 8 Ave,40.756405,-73.990026,16416,Customer,NaN,0
577694,1628,2013-06-30 23:58:46,2013-07-01 00:25:54,470,W 20 St & 8 Ave,40.743453,-74.000040,268.0,Howard St & Centre St,40.719105,-73.999733,15393,Customer,NaN,0
577695,81406,2013-06-30 23:58:45,2013-07-01 22:35:31,477,W 41 St & 8 Ave,40.756405,-73.990026,116.0,W 17 St & 8 Ave,40.741776,-74.001497,18726,Customer,NaN,0
577696,1397,2013-06-30 23:59:16,2013-07-01 00:22:33,470,W 20 St & 8 Ave,40.743453,-74.000040,268.0,Howard St & Centre St,40.719105,-73.999733,15487,Customer,NaN,0
577697,81724,2013-06-30 23:59:18,2013-07-01 22:41:22,477,W 41 St & 8 Ave,40.756405,-73.990026,116.0,W 17 St & 8 Ave,40.741776,-74.001497,14718,Customer,NaN,0
577698,925,2013-06-30 23:59:27,2013-07-01 00:14:52,509,9 Ave & W 22 St,40.745497,-74.001971,462.0,W 22 St & 10 Ave,40.746920,-74.004519,15250,Subscriber,1964,1
577699,279,2013-06-30 23:59:36,2013-07-01 00:04:15,116,W 17 St & 8 Ave,40.741776,-74.001497,494.0,W 26 St & 8 Ave,40.747348,-73.997236,19411,Customer,NaN,0
577700,161,2013-06-30 23:59:33,2013-07-01 00:02:14,443,Bedford Ave & S 9 St,40.708531,-73.964090,282.0,Kent Ave & S 11 St,40.707645,-73.968415,18910,Subscriber,1972,2
577701,909,2013-06-30 23:59:47,2013-07-01 00:14:56,509,9 Ave & W 22 St,40.745497,-74.001971,462.0,W 22 St & 10 Ave,40.746920,-74.004519,16108,Customer,NaN,0
577702,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504.0,1 Ave & E 16 St,40.732219,-73.981656,16950,Customer,NaN,0

In [14]:
citibike_2013.to_csv('citibike_2013.csv', sep = ',')